.total{
    text-align: center;
    padding-top: 30vh;
    .title{
        color: hotpink;
        font-size: 40px;
          .title_txt {
            }
    }
    .start{
        display: flex;
        justify-content: center;
    }
}